input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
.fixed-header{
  width: 100%;
  background-image: linear-gradient(to bottom right, rgb(60, 29, 145), rgb(148, 173, 240));
  padding: 14px; 
  position: fixed;
  top: 0;
  box-shadow: 5px 5px 5px #ccc;
}

nav {
  display: inline-block;
}

#page-design{
  margin-top: 80px; 
  border-style: outset; 
  border-radius: 10px; 
  border-width: 2px; 
  border-bottom: solid;
}

#nan-error{
  display: none;
  color: orangered;
  text-align: center;
}

#footer{
  margin-top:257px; 
  padding: 15px; 
  background-color: rgb(161, 208, 255); 
  color: rgb(7, 7, 7); 
  text-align: center;
}

#space{
  display: non;
  height: 29px;
}